@import url('https://fonts.googleapis.com/css?family=Iosevka:600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #031321;
    color: #2196f3;
    text-align: center;
}
:root{
    --bg-color:#031321;
    --primary-color:#2196f3;
    --secondary-color:#255784;
}
.parallax{
    background-image: url("image.jpg");
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    display: block;
    width: 100%;
    height: 700px;
}
.content h1{
    font-family: Iosevka;
    font-size: 56px;
    margin-top: 80px;
}
